.idea
.vscode
__pycache__
venv
.venv
.mypy_cache
alembic/versions
static/media
.ruff_cache
.pytest_cache
node_modules
dist
.umi
.umi-production
.umi-test
/backend/.env
/backend/log
.env.local
.pdm-python
celerybeat-schedule.*
.umirc.local.ts
config.local.ts
.mfsu
.swc
pnpm-lock.yaml
